<div class="chart-container">
  <h1 *ngIf="!countryName">Medals per Country</h1>
  <h1 *ngIf="countryName">{{ countryName }}</h1>
  <div class="chart-subtitles">
    <div class="subtitle-container">
      <span class="subtitle">Number of JOs</span>
      <strong>{{ totalOlympics }}</strong>
    </div>
    <div class="subtitle-container">
      <span class="subtitle">Number of countries</span>
      <strong>{{ totalCountries }}</strong>
    </div>
    <div *ngIf="athletesNumber" class="subtitle-container"> <!-- Modification ici -->
      <span class="subtitle">Number of athletes</span>
      <strong>{{ athletesNumber }}</strong>
    </div>
  </div>
</div>
<app-pie-chart></app-pie-chart>

